<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Acerca del Proyecto</h1>
      <p class="lead text-muted">Este proyecto busca determinar los criterios de investigación que las universidades ubicadas en los primeros 200 lugares del Ranking QS comparten entre sí, para obtener los factores críticos detrás de ese rango en el listado.</p>
      <p>
        <a href="#" style="margin:5px" class="btn btn-primary my-2">Nosotros</a>
        <a href="#" style="margin:5px" class="btn btn-secondary my-2">Conoce más</a>
      </div>
    <p>
  </section>
