
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Glosario</h1>
      <p class="lead">A continuación se muestra el glosario de términos de los atributos analizados para encontrar patrones.</p>
    </div>
  </div>
<div class="container">
  <h3 class="mt-3">Colaboraciones académico-empresariales</h3>
  <p class="lead">Publicaciones con afiliaciones académicas y corporativas.</p>
  <h3 class="mt-3">Autores</h3>
    <p class="lead">
  El número de autores en el resultado académico arbitrado.
    </p>
    <h3 class="mt-3">Citas por autor</h3>
  <p class="lead">
Citas hechas por autor en el año especificado. Esto es el resultado de la división de número de citas entre autores.</p>
<h3 class="mt-3">Citas por publicación </h3>
<p class="lead">
Este indicador calcula el número medio de citas recibidas por publicación.
</p>
<h3 class="mt-3">Impacto de Citas por Campo</h3>
  <p class="lead">
    Procedente de SciVal, esta métrica indica cómo se compara el número de citas recibidas por las publicaciones de un investigador con el número promedio de citas recibidas por todas las demás publicaciones similares indexadas en la base de datos de Scopus.
  </p>
  <h3 class="mt-3">H5-Index</h3>
  <p class="lead">
El índice h5 es el índice h basado en datos de los últimos 5 años, por ejemplo, al seleccionar 2017, el índice h5 refleja el rango de fechas 2013-2017 tanto para documentos como para citas.
  </p>
  <h3 class="mt-3">Colaboraciones Internacionales</h3>
  <p class="lead">Publicaciones en co-autoría con instituciones de otros países.</p>
  <h3 class="mt-3">Publicaciones por Autor</h3>
  <p class="lead">
Publicaciones realizadas por autor en cierto año. Esto es el resultado de la división del número de publicaciones entre los autores.
</p>
<h3 class="mt-3">Aparición en Top de Percentiles de Citación </h3>
  <p class="lead">
    Las salidas en los percentiles superiores indican hasta qué punto las salidas están presentes en los percentiles más citados de la fuente de datos. Se calculan los conteos de citas que representan los umbrales del 1%, 5%, 10% y 25% de los artículos más citados en Scopus por Año de Publicación.</p>
    <h3 class="mt-3">Publicaciones en Top de Percentiles de Citación </h3>
  <p class="lead">
  Publicaciones en Top Journal Percentiles indica hasta qué punto las publicaciones están presentes en las revistas más citadas en la fuente de datos. Esto calcula cuántas publicaciones están en el 1%, 5%, 10% o 25% de las revistas más citadas indexadas por Scopus.
  Las revistas más citadas se definen por las métricas de la revista SNIP (Source-Normalized Impact per Paper) o SJR (SCImago Journal Rank).  Las dos métricas de revistas utilizadas son métricas de revistas normalizadas de campo, lo que significa que pueden utilizarse para comparar la presencia de publicaciones en revistas excepcionales, independientemente de la disciplina.
  </p>
  <h3 class="mt-3">Producción Académica</h3>
<p class="lead">
  La producción académica define el número total de productos de la investigación, para representar la productividad de la Institución.
</p>
</div>
