<div class="container">
  <h1 class="mt-2">Publicaciones en Top de Percentiles de Citación </h1>
  <p class="lead">
  Publicaciones en Top Journal Percentiles indica hasta qué punto las publicaciones están presentes en las revistas más citadas en la fuente de datos. Esto calcula cuántas publicaciones están en el 1%, 5%, 10% o 25% de las revistas más citadas indexadas por Scopus por el año 2018.
  Las revistas más citadas se definen por las métricas de la revista SNIP (Source-Normalized Impact per Paper) o SJR (SCImago Journal Rank).  Las dos métricas de revistas utilizadas son métricas de revistas normalizadas de campo, lo que significa que pueden utilizarse para comparar la presencia de publicaciones en revistas excepcionales, independientemente de la disciplina.
  </p>
</div>
