<div class="jumbotron-fluid">
        <p></p>
      <h2 class="jumbotron-heading">Actualización de datos</h2>
      <p></p>
      <br>
      <hr>
  </div>
<div class="container">
  <div class="row" style="bottom-margin:5px">

  <div class="col-md-4" style="bottom-margin:5px">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Refrescar datos</h5>
      <a href="#" style="margin:5px" class="btn btn-secondary my-2">Refrescar</a>
    </div>
  </div>
  </div>

<div class="col-md-4"style="bottom-margin:10px">
<div class="card md-4" style="width: 18rem;">
<div class="card-body">
  <h5 class="card-title">Realizar ciencia de datos </h5>
  <a href="#" style="margin:5px" class="btn btn-secondary my-2">Calcular</a>
</div>
</div>
</div>
<div class="col-md-4"style="bottom-margin:10px">
<div class="card md-4" style="width: 18rem;">
<div class="card-body">
  <h5 class="card-title">Cargar datos a intefaz </h5>
  <a href="#" style="margin:5px" class="btn btn-secondary my-2">Cargar</a>
</div>
</div>
</div>
</div>
</div>
