<div class="jumbotron-fluid">
        <p></p>
      <h2 class="jumbotron-heading">Ranking de Universidades</h2>
      <p></p>
      <br>
      <hr>
  </div>
<div class="container">

    <div class="row">
      <div class="col-md-4">
        <h3>Total de artículos </h3>
        <p><a class="btn btn-primary" href="#" role="button">Ver detalle »</a></p>
      </div>
      <div class="col-md-4">
        <h3>Por Citas</h3>
        <p><a class="btn btn-primary" href="#" role="button">Ver detalle »</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3>Número de Autores </h3>
        <p><a class="btn btn-primary" href="#" role="button">Ver detalle »</a></p>
      </div>
      <div class="col-md-4">
        <h3>h5-Index</h3>
        <p><a class="btn btn-primary" href="#" role="button">Ver detalle »</a></p>
      </div>
    </div>
    <hr>
  </div>
