<div class="jumbotron-fluid">
        <p></p>
      <h2 class="jumbotron-heading">Nosotros</h2>
      <p></p>
      <br>
      <hr>
  </div>
<div class="container">
  <div class="row" style="bottom-margin:5px">

  <div class="col-md-4" style="bottom-margin:5px">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Dr. Miguel Ángel Medina Pérez</h5>
      <h6 class="card-subtitle mb-2 text-muted">Cliente y líder del Proyecto</h6>
      <p class="card-text">Profesor e investigador del Tecnológico de Monterrey.</p>
    </div>
  </div>
  </div>

<div class="col-md-4"style="bottom-margin:10px">
<div class="card md-4" style="width: 18rem;">
<div class="card-body">
  <h5 class="card-title">Ethan Bautista</h5>
  <h6 class="card-subtitle mb-2 text-muted">P.M.</h6>
  <p class="card-text">Proyect Manager del equipo. Estudiante de Ingeniería en Sistemas Computacionales.</p>
</div>
</div>
</div>

<div class="col-md-4" style="bottom-margin:5px">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Raymundo Coronilla</h5>
    <h6 class="card-subtitle mb-2 text-muted">Obtención de Datos</h6>
    <p class="card-text">Mayor experiencia en el proyecto.Estudiante de Ingeniería en Sistemas Computacionales.</p>
  </div>
  </div>
</div>
</div>
<br>
<div class="row" style="bottom-margin:5px">

<div class="col-md-4" style="bottom-margin:5px">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Cinthya Ruiz</h5>
    <h6 class="card-subtitle mb-2 text-muted">Atributos</h6>
    <p class="card-text">Encargada de la ingenería de atributos. Estudiante de Ingeniería en Sistemas Computacionales.</p>
  </div>
  </div>
</div>

<div class="col-md-4" style="bottom-margin:5px">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Sandra Rodríguez</h5>
    <h6 class="card-subtitle mb-2 text-muted">Conexión</h6>
    <p class="card-text">Mayor experiencia en Python del equipo y análisis de datos. Estudiante de Ingeniería en Sistemas Computacionales.</p>
  </div>
  </div>
</div>
<div class="col-md-4" style="bottom-margin:5px">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Desirée López</h5>
    <h6 class="card-subtitle mb-2 text-muted">Front</h6>
    <p class="card-text">Encargada del Front end del proyecto. Estudiante de Ingeniería en Sistemas Computacionales.</p>
  </div>
  </div>
</div>
</div>
</div>
